<style>
    .flota{
        float: right;
    margin-left: 35px;
    }
</style>
<div class="container-fluid" ng-controller="AdminController as admin">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" data-background-color="green">
                    <h4>Administración del sistema</h4>
                    <p class="category">En esta sección podrás administrar diferentes contenidos, como administración de usuarios, catalogos, etc...</p>
                </div>
            </div>
            
        </div>
        
        <button type="button" class="btn btn-primary" onclick="location.href='#/admin/usuario/ver'">Usuarios</button>
    </div>

</div>